.git
.cache
ci/
*build*/
coverage/
doc/
scripts/
test/estimate_parameters_test/
test/gtest
test/save_mapped_read_strings/
test/zero/
test/concatenated_vcf.vcf
test/indextext.k5.w1.idx
test/localPRG_test.alignedpath.fa
test/localPRG_test.maxpath.fa
test/CTestTestfile.cmake
test/test_cases/kgs
test/test_cases/pangraph_test_save.matrix
tmp/
cmake_install.cmake
compile_commands.json
Makefile
pandora.cbp