# Ignore the build and lib dirs
build
ext
tmp

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log

# perf.data
*perf.data*

# for now, ignore test_cases subdirs
test/test_cases/*/*
*.vcf
test/test_cases/localPRG_test*
test/test_cases/vcf3.multisample.fa
test/test_cases/vcf_test.vcf

# and log.txt
log.txt

# and files for debugging and sending to other people
EcoliK12_pandora*

#internal scripts
scripts/*
