[submodule "thirdparty/gatb-core"]
	path = thirdparty/gatb-core
	url = https://github.com/leoisl/gatb-core
[submodule "thirdparty/cgranges"]
	path = thirdparty/cgranges
	url = https://github.com/lh3/cgranges
[submodule "thirdparty/pstreams"]
	path = thirdparty/pstreams
	url = https://github.com/jwakely/pstreams/
[submodule "thirdparty/seqan"]
	path = thirdparty/seqan
	url = https://github.com/seqan/seqan.git
